@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: #36393f;
    font-family: 'Open Sans';
    user-select: none;
    color: white;
}

textarea:focus,
input:focus,
span:focus {
    outline: none;
}

#left {
    background-color: #202225;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    float: left;
    width: 86px;
    left: 0;
    top: 0;
}

#right {
    background-color: #2f3136;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    float: right;
    width: 232px;
    right: 0;
    top: 0;
}

#midPins {
    margin-left: auto;
}

#midHide {
    margin: 0px 10px 0px 5px;
}

#home {
    background-color: white;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    left: 13px;
    top: 20px;
}

.guild {
    background-color: #36393f;
    border-radius: 50px;
    padding-top: 20px;
    text-align: center;
    transition: 200ms;
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 60px;
    left: 13px;
}

.guild:hover {
    background-color: #5865f2;
    border-radius: 15px;
    transition: 200ms;
}

.guildSelected {
    background-color: #5865f2;
    border-radius: 15px;
    transition: 200ms;
}

.guildAcronym {
    position: relative;
    height: 100%;
    width: 100%;
    color: #cccccc;
}

#server-nav {
    background-color: rgb(47, 49, 54);
    position: absolute;
    height: 100%;
    width: 230px;
    left: 86px;
    top: 0;
}

#guildNamePlaceholder {
    display: flex;
    height: 51px;
}

#guildName {
    align-items: center;
    margin-left: 15px;
    display: flex;
    height: 51px;
}

#middle {
    position: absolute;
    height: 100%;
    width: calc(100% - 232px - 230px - 86px);
    left: 316px;
    top: 0px;
}

#channelTopNamePlaceholder {
    background-color: #36393f;
    align-items: center;
    display: flex;
    height: 51px;
    width: 100%;
}

#channelTopNameHash {
    font-weight: 600;
    font-size: 24px;
    margin: -2px -5px 0px 14px;
}

#channelTopName {
    margin-left: 15px;
    font-weight: 600;
    margin-top: -2px;
    font-size: 16px;
    color: #ffffff;
}

#channelPlaceholder {
    overflow-y: scroll;
    height: calc(100% - 51px - 62px - 20px);
}

#separator {
    background-color: #222427;
    margin-bottom: 20px;
    height: 2px;
    color: white;
}

.separatorMidRight {
    background-color: #292c30;
    height: 2px;
    color: white;
}

#home-sep {
    background-color: rgba(255, 255, 255, 0.06);
    position: relative;
    height: 4px;
    width: 48px;
    left: 19px;
    top: 30px;
}

.category {
    padding-bottom: 2px;
}

.categoryPlaceholder {
    display: table-cell;
    width: 230px;
}

.categoryExpand {
    margin-right: 3px;
    margin-left: 12px;
    font-weight: 800;
    transform: rotate(90deg);
    font-size: 12px;
    display: inline-flex;
    color: #8e9297;
}

.categoryExpanded {
    margin-right: 3px;
    margin-left: 12px;
    font-weight: 800;
    transform: rotate(180deg);
    font-size: 12px;
    display: inline-flex;
    color: #8e9297;
}

.categoryExpand:hover,
.categoryExpanded:hover {
    color: #dcddde;
}

.categoryName {
    margin-bottom: 7px;
    font-weight: 800;
    margin-top: 7px;
    font-size: 12px;
    display: inline-flex;
    color: #8e9297;
}

.categoryName:hover {
    color: #dcddde;
}

.channel {
    background-color: inherit;
    margin-right: 10px;
    padding-left: 0px;
    margin-left: 10px;
    padding-top: 2px;
    font-size: 12px;
    height: 18px;
    color: #8e9297;
}

.selectedChan {
    background-color: rgba(79, 84, 92, 0.32);
    border-radius: 8px;
    color: #ffffff;
}

.channelType {
    margin-right: 1px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: -10px;
    font-size: 14px;
    display: inline-flex;
    width: 12px;
}

.channelName {
    text-align: center;
    display: inline-flex;
}

.channel:hover {
    color: #dcddde;
}

#messageList {
    flex-direction: column-reverse;
    vertical-align: bottom;
    flex-wrap: wrap;
    display: flex;
    height: calc(100% - 22px - 51px - 55px);
    width: calc(100% - 20px);
}

#messageElement {
    margin-top: 20px;
    margin-left: 20px;
    user-select: text;
    display: flex;
    width: 100%;
}

#messageAuthor {
    margin-left: 10px;
    font-weight: 600;
    margin-top: 0;
    color: lime;
}

#authorImg {
    background-color: #cccccc;
    border-radius: 50px;
    height: 48px;
    width: 48px;
}

#message {
    margin-left: -35px;
    margin-top: 25px;
}

#messageBoxPlaceholder {
    max-height: 500px;
    min-height: 44px;
    position: absolute;
    bottom: 25px;
    width: 100%;
}

#messageBox {
    background-color: #40444b;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 20px;
    margin-left: 11px;
    max-height: 350px;
    min-height: 34px;
    font-size: 18px;
    overflow: hidden;
    display: block;
    border: none;
    width: calc(100% - 32px);
    color: #cccccc;
}

#messageBox[contenteditable]:empty::before {
    content: 'Enter message';
    color: #aaaaaa;
}

#loginScreen {
    background-color: #222222;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#loginPlaceholder {
    text-align: center;
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
}

#loginHeader {
    font-size: 48px;
    color: #cccccc;
}

#loginToken {
    background-color: #333333;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    border: 2px solid #222222;
    color: #cccccc;
    width: 500px;
}

#loginButton {
    background-color: #333333;
    border-radius: 8px;
    transition: 200ms;
    margin-top: 15px;
    outline: inherit;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #222222;
    color: #777777;
    font: inherit;
}

#loginButton:hover {
    transition: 200ms;
    color: #cccccc;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

#notificationPlaceholder {
    padding: 10px;
    z-index: 150;
}

#infoBox {
    background-color: #333333;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    z-index: 150;
    display: table;
}

#infoBox p {
    margin: 0;
}

#infoSVG {
    font-weight: 900;
    transform: rotateZ(-45deg);
    font-size: 36px;
    position: absolute;
    height: 16px;
    margin: 0;
    width: 16px;
    right: 30px;
    top: 10px;
}

#infoTitle {
    font-size: 22px;
}

#infoDesc {
    font-size: 16px;
    color: #dddddd;
}

#infoBold {
    font-weight: 800;
    font-size: 16px;
    color: #dddddd;
}

#infoSmall {
    font-size: 13px;
    color: #dddddd;
}

#memberList {}

.memberRole {
    margin-bottom: 7px;
    padding-left: 15px;
    font-weight: 800;
    margin-top: 7px;
    font-size: 12px;
    color: #8E9297;
}

.member {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    display: flex;
    cursor: pointer;
}

.member:hover {
    background-color: rgba(79, 84, 92, 0.32);
}

.memberNick {
    font-weight: 600;
    margin: 4px 0px 0px 8px;
    color: lime;
}

.memberImg {
    background-color: #cccccc;
    border-radius: 50px;
    position: relative;
    height: 32px;
    width: 32px;
}

.memberStatusOnline {
    background-color: #389C58;
    border-radius: 50px;
    position: absolute;
    border: 2px solid #2F3136;
    height: 10px;
    bottom: -2px;
    width: 10px;
    right: -2px;
}

.memberStatusIdle {
    background-color: #FAA81A;
    border-radius: 50px;
    position: absolute;
    border: 2px solid #2F3136;
    bottom: -2px;
    height: 10px;
    width: 10px;
    right: -2px;
}

.memberStatusDnd {
    background-color: #E94144;
    border-radius: 50px;
    position: absolute;
    border: 2px solid #2F3136;
    bottom: -2px;
    height: 10px;
    width: 10px;
    right: -2px;
}

.memberStatusOffline {
    background-color: #E94144;
    border-radius: 50px;
    position: absolute;
    border: 2px solid #2F3136;
    bottom: -2px;
    height: 10px;
    width: 10px;
    right: -2px;
}

#userCard {
    background-color: #292B2F;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    flex-wrap: wrap;
    display: flex;
    bottom: 0;
    height: 52px;
    width: calc(100% - 10px);
    left: 0;
}

#avatar {
    position: relative;
    bottom: -16px;
    height: 32px;
    width: 32px;
}

#userCard p {
    margin: 0;
}

#userImg {
    background-color: #cccccc;
    border-radius: 50px;
    position: relative;
    height: 32px;
    width: 32px;
}

#userNick {
    padding-left: 10px;
    font-weight: 600;
    position: relative;
    font-size: 14px;
    top: 16px;
}

#userTag {
    font-size: 12px;
    position: relative;
    color: #cccccc;
    left: 40px;
}

#userStatusOnline {
    background-color: #389C58;
    border-radius: 50px;
    position: absolute;
    border: 2px solid #292B2F;
    height: 10px;
    bottom: -2px;
    right: 1px;
    width: 10px;
}

#typingIndicatorPlaceholder {
    position: absolute;
    display: flex;
    bottom: 0px;
}

.typingIndicator {
    font-weight: 900;
    font-size: 40px;
    position: relative;
    margin: 0;
}

#typingIndicatorMember {
    font-size: 12px;
    position: relative;
    bottom: 3px;
    margin: 34px 0px 0px 3px;
}

#t1 {
    animation: TypingAnim 1s linear 0.2s infinite;
    margin-left: 20px;
}

#t2 {
    animation: TypingAnim 1s linear 0.3s infinite;
    /* animation-delay: 200ms; */
}

#t3 {
    animation: TypingAnim 1s linear 0.4s infinite;
    /* animation-delay: 300ms; */
}

@keyframes TypingAnim {
    0% {
        bottom: 0px;
    }
    10% {
        bottom: 5px;
    }
    20% {
        bottom: 0px;
    }
}
