body {
    background-color: #36393F;
    color: white;
    font-family: Tahoma;
}

textarea:focus, input:focus {
    outline: none;
}

#left {
    background-color: #202225;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 86px;
    left: 0;
    top: 0;
    float: left;
}

#right {
    background-color: #2F3136;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 232px;
    right: 0;
    top: 0;
    float: right;
}

#midPins {
    margin-left: auto;
}

#midHide {
    margin: 0px 10px 0px 5px
}

#home {
    background-color: white;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    left: 13px;
    top: 20px;
}

.guild {
    background-color: white;
    border-radius: 50px;
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 60px;
    left: 13px;
}

#server-nav {
    background-color: rgb(47, 49, 54);
    position: absolute;
    height: 100%;
    width: 230px;
    left: 86px;
    top: 0;
}

#guildNamePlaceholder {
    justify-content: center;
    display: flex;
    height: 51px;
}

#guildName {
    align-items: center;
    display: flex;
    height: 51px;
    margin-left: 15px;
}

#middle {
    position: absolute;
    height: 100%;
    width: calc(100% - 232px - 230px - 86px);
    left: 316px;
    top: 0px;
}

#channelTopNamePlaceholder {
    align-items: center;
    display: flex;
    height: 51px;
    width: 100%;
    background-color: #36393F;
}

#channelTopNameHash {
    margin: 0px 6px 0px 14px;
}


#channelTopName {
    margin-left: 15px;
}

#separator {
    background-color: #222427;
    margin-bottom: 20px;
    height: 2px;
    color: white;
}

#home-sep {
    background-color: rgba(255, 255, 255, 0.06);
    position: relative;
    height: 4px;
    width: 48px;
    left: 19px;
    top: 30px;
}

#category {
    padding-bottom: 10px;
}

#categoryPlaceholder {
    display: table-cell;
}

#categoryExpand {
    margin-left: 12px;
    display: inline-flex;
}

#categoryName {i
    display: inline-flex;
}

#channelType {
    margin-left: 23px;
    display: inline-flex;
}

#channelName {
    text-align: center;
    display: inline-flex;
}

#messageBoxPlaceholder {
    position: absolute;
    width: 100%;
    height: 44px;
    bottom: 10px;
}

#messageBox {
    background-color: #40444B;
    color: #cccccc;
    border: none;
    border-radius: 8px;
    height: 100%;
    width: calc(100% - 32px);
    margin-left: 10px;
    padding-left: 10px;
    font-size: 18px;
}

#loginScreen {
    background-color: #222222;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#loginPlaceholder {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    text-align: center;
    font-family: Tahoma;
}

#loginHeader {
    color: #cccccc;
    font-size: 48px;
}

#loginToken {
    background-color: #333333;
    border: 2px solid #222222;
    border-radius: 50px;
    padding: 10px;
    color: #cccccc;
}

#loginButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #777777;
    background-color: #333333;
    border: 1px solid #222222;
    margin-top: 15px;
    padding: 10px;
    border-radius: 50px;
    transition: 200ms;
}

#loginButton:hover {
    color: #cccccc;
    transition: 200ms;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}
